@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&subset=japanese');

img.mark {
    display: none;
}

.chat {
    font-size: 60px;
    color: white;
    opacity: 0.8;
    font-family: 'Noto Sans JP';
    font-weight: bold;
    white-space: nowrap;
    z-index: 4;
    text-shadow: 1px 1px 2px #000;
    position: fixed;
}

.iconSize {
    height: 60px;
}

.gift {
    opacity: 0.8;
    position: fixed;
}

.notificationArea {
    position: fixed;
    font-family: 'Noto Sans JP';
    font-weight: bold;
    display: none;
    white-space: nowrap;
    position: fixed;
    bottom: -10px;
    color: white;
    font-size: 60px;
    z-index: 4;
    text-shadow: 1px 1px 2px #000;
}
